= render partial: 'back_button'

#resultsPage
  - if @help_category_results.size > 0
    %h1.govuk-heading-xl
      Your recommendations
    #contents
      - if @response.info_type == ['something_else']
        %p We've found some things that might be useful for you. We're still learning, so please let us know at the end whether this information was helpful.
      -else
        %p We have found some information and services that might be useful for you. We're still learning, so please let us know at the end whether this information was helpful.

      - if @response.info_type.include? 'something_else' && @response.suggested_info_type
        %p.govuk-info
          You were also interested in '#{@response.suggested_info_type}'


    = render partial: 'recommendations_top_level'

    .save_for_later
      = render partial: 'save_for_later'

#toTop
  To the top