- @help_category_results.each do |help_category_result|
  %h2.govuk-heading-l
    = help_category_result.label
  %p.govuk-body
    - help_category_result.fragments.each do |fragment|
      %p.govuk-body
        = fragment.content.html_safe

  - help_category_result.children.each do |info_type|
    %h2.govuk-heading-m
      = info_type.label
    - info_type.fragments.each do |fragment|
      = fragment.content.html_safe