$govuk-images-path: "/assets/";
$govuk-fonts-path: "/assets/";
$govuk-font-url-function: "font-url";
$govuk-image-url-function: "image-url";

@import "govuk-frontend/all";

@import "remove_gds";
@import "font-awesome";
@import "accordion";
@import "comfy/admin/cms/custom";

@import "results";
@import "errors";
