$brand: #682558;
.govuk-body a, .govuk-link, .govuk-link:link {
  color: $brand;
  &:hover {
    color: darken($brand, 10);
  }
}
footer {
  display: none;
}
.govuk-template {
  background: #fff;
}
.govuk-header__container {
  border-color: $brand;
  border: none;
  padding-bottom: 10px;
}
.govuk-header {
  background: $brand;
}
.govuk-input {
  border-radius: 10px;
}
.govuk-button {
  margin-top: 20px;
  background: $brand;
  border-radius: 5px;
  box-shadow: none;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  &:hover, &:focus {
    background: darken($brand, 10);
    color: #fff;
  }
  &:focus {
    outline: 2px solid #ffbf47;
  }
  &:disabled {
    background: lighten($brand, 10);
    &:hover {
      background: lighten($brand, 20);
    }
  }
  &.no-margin {
    margin-top: 0;
  }
}
a.govuk-button {
  &:hover {
    color: #fff;
  }
}
.govuk-button--start:hover {
  color: #fff !important;
}

.single_category {
  margin-bottom: 30px;
  margin-top: 20px;
}

.turbolinks-progress-bar {
  background-color: $brand;
}

.verticle_align {
  .govuk-radios__input, .govuk-radios__input + .govuk-radios__label::before, .govuk-radios__input + .govuk-radios__label::after {
    margin-top: 15px;
  }
}

.save_for_later {
  background: #f1f1f1;
  padding: 20px 20px 0px 20px;
  border-radius: 10px;
}

.essex-logo {
  width: 30px;
}

.hidden_field, .display_none {
  display: none;
}

.govuk-hint.higher {
  margin-top: -25px;
}

.essex-details {
  text-align: right;
  margin-top: 30px;
  img {
    max-width: 100px;
    height: auto;
    vertical-align: middle;
    margin-left: 5px;
  }
}

.govuk-breadcrumbs {
  margin-bottom: 25px;
  font-size: 19px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.govuk-form-group.hidden {
  display: none;
}
.govuk-body-m, .govuk-body, .govuk-radios__item, .govuk-caption-l, .govuk-label--s, .govuk-button, .govuk-checkboxes__label, .govuk-hint {
  font-size: 16px;
  line-height: 23px;
}
.govuk-caption-l {
  line-height: 1.4;
}
.govuk-fieldset__legend--xl {
  font-size: 28px;
  line-height: 35px;
}

@media (min-width: 40.0625em) {
  .govuk-body-m, .govuk-body, .govuk-radios__item, .govuk-caption-l, .govuk-label--s, .govuk-button, .govuk-checkboxes__label, .govuk-hint {
    font-size: 22px;
    line-height: 28px;
  }
  .govuk-fieldset__legend--xl {
    font-size: 31px;
    line-height: 40px;
  }
  .govuk-breadcrumbs {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .save_for_later {
    background: #f1f1f1;
    padding: 30px 30px 0px 30px;
    border-radius: 10px;
    .govuk-heading-m {
      margin-bottom: 15px;
    }
  }
}
