$brand: #682558;
.govuk-body a, .govuk-link {
  color: $brand;
  &:hover {
    color: darken($brand, 10);
  }
}
footer {
  display: none;
}
.govuk-template {
  background: #fff;
}
.govuk-header__container {
  border-color: $brand;
  border: none;
  padding-bottom: 10px;
}
.govuk-header {
  background: $brand;
}
.govuk-input {
  border-radius: 10px;
}
.govuk-button {
  background: $brand;
  border-radius: 5px;
  box-shadow: none;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  &:hover, &:focus {
    background: darken($brand, 10);
    color: #fff;
  }
  &:focus {
    outline: 2px solid #ffbf47;
  }
  &:disabled {
    background: lighten($brand, 10);
    &:hover {
      background: lighten($brand, 20);
    }
  }
}

.single_category {
  margin-bottom: 30px;
  margin-top: 20px;
}

.turbolinks-progress-bar {
  background-color: $brand;
}

.verticle_align {
  .govuk-radios__input, .govuk-radios__input + .govuk-radios__label::before, .govuk-radios__input + .govuk-radios__label::after {
    margin-top: 15px;
  }
}

.save_for_later {
  background: #f1f1f1;
  padding: 30px 30px 0px 30px;
  border-radius: 10px;
}