#resultsPage {
  .govuk-heading-xl {
    margin-bottom: 25px;
  }
  .save_for_later {
    .govuk-heading-m {
      margin-bottom: 10px;
    }
    #response_phone_number {
      width: 100%;
      max-width: 300px;
    }
  }
  .single-result {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #333;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .single_category {
    margin-bottom: 75px;
  }
  .govuk-heading-l {
    margin-bottom: 15px;
  }
  #contents {
    margin-bottom: 50px;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
  }
}
