%h1.govuk-heading-xl
  Leaving Hospital - Virtual Advisor

%p.govuk-body-l
  If you've had a change in circumstance or a stay in hospital, it might be worth thinking about ways to make it easier to stay in and get around your home.

%p.govuk-body
  I'd like to ask you a few questions to get you to the right information...

%p=link_to 'Get Started', journeys_path, role: :button, draggable: false, class: 'govuk-button govuk-button--start'
